// 1. Import the initial variables
@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
//$blue: #72d0eb;
// Add pink and its invert
//$pink: #ffb3b3;

$chicago: #4C8DBF !default
$bangalore: #40AF49 !default
$tokyo: #BC002D !default

$london: #1533A0 !default
$selenium: #28A82E !default

$selenium-invert: #fff;
$bangalore-invert: findColorInvert($bangalore);
$chicago-invert: findColorInvert($chicago);
$tokyo-invert: findColorInvert($tokyo);
$london-invert: findColorInvert($london);

$primary: #28A82E;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #28A82E;
$primary-invert: $selenium-invert;
// Use the existing orange as the danger color
//$danger: $orange;
// Use the new serif family
//$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../sass/utilities/derived-variables";
$addColors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert),
        "bangalore": ($bangalore $bangalore-invert),
        "chicago": ($chicago, $chicago-invert),
        "london": ($london, $london-invert)
        "selenium": ($selenium, $selenium-invert),
        "tokyo": ($tokyo, $white),
        "primary":($selenium, $selenium-invert),
        "grey": ($grey-lighter, $white)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../sass/bulma";
$primary: $selenium;
$primary-invert: $selenium-invert;
// Custom
.navbar-brand {
  font-weight: bold;
}

.post-card {

  .post-title {
    font-size: 1.6em;
  }

  .post-categories {
    margin-bottom: 5px;
  }
}
* {font-family: 'Titillium Web', sans-serif; }
#bangalore {
  background: url("/images/bangalore.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .title{
    color: $bangalore;
  }
  .subtitle{ color: $black;}
  button {
    background-color: $bangalore;
  }

}

div.conference.hero-body.column.is-half.level {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .subtitle{ color: $black;}
}

#chicago{
  background: url("/images/Optimized-jeff-brown-246391.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .title{
    color: $chicago;
  }
  .subtitle{ color: $black;}
  button{
    background-color: $chicago;
  }
}

#tokyo{
  background: url("/images/TokyoTower(recommended).jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .title{
    color: $tokyo;
  }
  .subtitle{ color: $black;}
  button{
    background-color: $tokyo;
    color: $white;
  }
}
.hero-body{ padding: 0;}

.info{padding: 10rem 0;
  .button{
    margin-bottom: 5px;
  }}
.box{
  background-color: hsla(0, 0%, 94%, 0.75);
}

#seconficon{width: 52px; height:52px;}
