<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
    $('.nav-toggle').bind('click', function(){
        var menus = $(this).siblings(".nav-menu");
        if(menus.hasClass('is-active')){
            menus.removeClass('is-active');
        } else {
            menus.addClass('is-active');
        }
    });
    </script>

    <script async src="{{ '/scripts/main.min.js' | relative_url }}"></script>
  <script type="text/javascript">
      if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/sw.js").then(function(registration) {
              console.log("Service Worker registration successful with scope: ", registration.scope);
          }).catch(function(err) {
              console.log("Service Worker registration failed: ", err);
          });
      }
  var dropdown = document.querySelector('.has-dropdown');
  dropdown.addEventListener('click', function(event) {
      event.stopPropagation();
      dropdown.classList.toggle('is-active');
  });

        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116561142-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116561142-1');
    </script>

  </body>

</html>
